{
	order forward_proxy before file_server
	dynamic_dns {
		provider cloudflare {$CFAPITOKEN}
		domains {
			{$DOMAIN} {$SUBDOMAIN}
		}
	}
}

:443, {$SUBDOMAIN}.{$DOMAIN} {
	tls {
		# ca https://acme-staging-v02.api.letsencrypt.org/directory
		dns cloudflare {$CFAPITOKEN}
		resolvers 1.1.1.1
	}
	forward_proxy {
		basic_auth {$USER} {$PASS}
		hide_ip
		hide_via
		probe_resistance
	}
	reverse_proxy {$DISGUISE} {
		header_up Host {upstream_hostport}
		#    header_up  X-Forwarded-Host  {host}
	}
}
